.instructors {
    .loading {
        .user { 
            width: 100%;
            :global(.ant-skeleton-paragraph) {
                margin-top: 16px;
            }
        }
        .spin {
            text-align: center;
            padding: 100px 0;
        }
    }
}