.shoppingCart {
    margin-bottom: 60px;
    .divider {
        background: rgba(255, 255, 255, 0.2);
    }
    .title {
        color: white;
        font-size: 1.6em;
    }
    .clearAll {
        margin-bottom: 25px;
        .action {
            color: @primary-color;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .main {
        
        .list > .empty, .loading {
            text-align: center;
            width: 100%;
            padding: 100px 0;
            border: 0.5px dashed rgba(255, 255, 255, 0.2);
        }
        .list {
            .empty {
                background: rgba(30, 30, 30, 0.4);
                .shoppingIcon {
                    font-size: 120px;
                    margin-bottom: 12px;
                    color: white;
                }
                .text {
                    margin-bottom: 24px;
                }
                .btn button {
                    min-width: 200px;
                }
            }
            .divider {
                margin: 0;
            }
            .item, .course, .theBundle {
                .price {
                    .priceVal {
                        font-size: 1.5em;
                        font-family: Arial, Helvetica, sans-serif;
                        color: @primary-color;
                        font-weight: bold;
                    }
                    .realPriceVal {
                        margin-top: 6px;
                        text-decoration: line-through;
                    }
                    text-align: center;
                }
                .actions {
                    text-align: right;
                    color: @primary-color;
                    font-size: 0.9em;
                    & > div {
                        cursor: pointer;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .item {
                padding: 12px 0;
                height: 116px;
                .avatar {
                    img {
                        width: 100%;
                        height: 92px;
                    }
                }
                .nameAndAuthors {
                    padding-left: 16px;
                    .name {
                        color: white;
                        font-size: 1.2em;
                        line-height: 21px;
                        margin-bottom: 0px;
                    }
                }
            }
            .bundle {
                .theBundle {
                    padding: 12px 0;
                    min-height: 64px;
                    .name {
                        color: white;
                        font-size: 1.1em;
                        line-height: 21px;
                    }
                }
                .course {
                    padding: 8px 0;
                    .avatar {
                        img {
                            width: 100%;
                        }
                    }
                    .nameAndAuthors {
                        padding-left: 10px;
                        .name {
                            color: white;
                            line-height: 21px;
                            margin-bottom: 2px;
                        }
                        .authors {
                            font-size: 0.9em;
                        }
                        
                    }
                    .price {
                        font-size: 1.2em;
                        color: white;
                    }
                }
            }
        }
    }
    .checkout {
        .totalTitle {
            font-size: 1.6em;
            margin-bottom: 8px;
            font-weight: bold;
            text-align: right;
        }
        .total {
            .totalVal {
                font-family: Arial, Helvetica, sans-serif;
                font-size: 45px;
                
                color: white;
            }
            .realTotalVal {
                font-size: 22px;
                text-decoration: line-through;
                margin-right: 12px;
                display: inline-block;
            }
            font-weight: bold;
            text-align: right;
        }
        .btn {
            margin-top: 24px;
            button {
                width: 100%;
            }
        }
        .divider {
            margin: 10px 0;
        }
        .input {
            input {
                width: 100%;
            }
        }
    }
}

.buyingLoadingModal {
    .icon {
        padding: 15px 0;
        text-align: center;
    }
    .text {
        text-align: center;
        color: @primary-color;
        padding-bottom: 15px;
    }
}