.myCourses {
    .filter {
        margin-bottom: 30px;
        .sortForm, .filterForm {
            .label {
                margin-bottom: 10px;
            }
        }
        .filterForm {
            .btn {
                margin-left: 40px;
                button {
                    width: 100px;
                }
                button.resetBtn {
                    margin-left: 7px;
                }
            }
        }
    }
}
.dropdown {
    width: auto !important;
}