.myCourses {
    width: 85%;
    margin: auto;
    .filter {
        margin-bottom: 50px;
        .sortForm, .filterForm {
            .label {
                margin-bottom: 10px;
            }
        }
        .sortCont {
            .loading {
                width: 150px;
                height: 72px;
            }
        }
        .filterCont {
            .loading {
                width: 100%;
                height: 72px;
            }
            .filterForm {
                .btn {
                    margin-left: 40px;
                    button {
                        width: 100px;
                    }
                    button.resetBtn {
                        margin-left: 7px;
                    }
                }
            }
        }
    }
    .content {
        .loading {
            width: 100%;
            height: 550px;
        }
    }
}
.dropdown {
    width: auto !important;
}