.myCourses {
    width: 85%;
    margin: auto;
    .filter {
        margin-bottom: 50px;
        .sortForm, .filterForm {
            .label {
                margin-bottom: 10px;
            }
        }
        .sortCont {
            .loading {
                width: 150px;
                text-align: center;
                height: 72px;
            }
        }
        .filterCont {
            .loading {
                width: 100%;
                text-align: center;
                height: 72px;
            }
            .filterForm {
                .btn {
                    margin-left: 40px;
                    button {
                        width: 100px;
                    }
                    button.resetBtn {
                        margin-left: 7px;
                    }
                }
            }
        }
    }
    .content {
        .loadMore {
            margin-top: 30px;
            text-align: center;
        }
        .skeletonBox {
            background-color: rgb(20, 20, 20);
            position: relative;
            overflow: hidden;
            &::after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                transform: translateX(-100%);
                background-image: linear-gradient(
                    90deg,
                    rgba(transparent, 0) 0,
                    rgba(rgba(40, 40, 40, 0.4), 0.2) 20%,
                    rgba(rgba(40, 40, 40, 0.4), 0.5) 40%,
                    rgba(transparent, 0)
                );
                animation: shimmer 1.5s infinite;
                content: '';
            }
            
            @keyframes shimmer {
                100% {
                  transform: translateX(100%);
                }
            }
        }
        .courseSkeleton {
            width: 100%;
            background-color: rgb(30, 30, 30);
            .avatar {
                height: 163px;
                
                width: 100%;
            }
            .info {
                padding: 15px;
                .name, .authors, .price {
                    height: 25px;
                    
                    width: 100%;
                    margin-bottom: 15px;
                }
                .price {
                    margin-left: auto;
                    margin-right: 0;
                    width: 30%;
                }
            }
        }
    }
}
.dropdown {
    width: auto !important;
}
.cateDropdown ul, .insDropdown ul{
    max-height: 200px;
    overflow: auto;
    &::-webkit-scrollbar {
        display: none;
    }
}