.listmessages {
    padding: 10px;
    padding-bottom: 22px;
    height: 100%;
    :global(.ant-list-item) {
        padding: 0;
    }
    div.date {
      text-align: center;
      margin-bottom: 12px;
      span {
        border-radius: 20px;
        display: inline-block;
        padding: 2px 12px;
        background: #fff;
        color: #1e1e1e;
      }
    }
}

.oldLoading {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}
