.footer {
    border-top: 1px solid #d9d9d9;
    padding-top: 60px;
    .content {
        width: 70%;
        margin: auto;
        padding-bottom: 45px;
        .main {
            .logo {
                width: 100%;
                margin-bottom: 15px;
                img {
                    width: 30%
                }
            }
            .description {
                text-align: left;
                margin-bottom: 10px;
                width: 50%;
            }
            .copyright {
                font-size: 0.9em;
                margin-bottom: 30px;
                width: 50%;
            }
            .locale {
                width: 50%;
            }
        }
        .link {
            font-size: 0.9em;
            .linkItem {
                margin-bottom: 10px;
            }
        }
    }
    .colorBar {
        height: 5px;
        background: @primary-color;
        background: linear-gradient(90deg, rgba(250,218,94,1) 0%, rgba(255,211,0,1) 35%, rgba(255,255,0,1) 100%);
    }
}