.article {
    .container {
        padding: 48px 16px;
        box-shadow: rgba(255, 255, 255, 0.15) 0px 1px 3px 1px;
        position: relative;
        background: @component-background;
        .loading {
            height: 160px;
            margin: 40px 0;
            text-align: center;
            color: @primary-color;
            width: 100%;
        }
    }
}