.messages {
    .messRow {
        margin-top: 12px;
        .message {
            padding-left: 10px;
            padding-top: 5px;
            .userName {
                color: @primary-color;
                font-weight: bold;
                font-size: 1.1em;
            }
        }
    }
    
}